{% extends '_layouts/elementindex.twig' %}

{% set title = 'Experiments'|t('wink') %}
{% set elementType = 'justinholtweb\\wink\\elements\\Experiment' %}
{% set selectedSubnavItem = 'experiments' %}

{% block actionButton %}
    <a href="{{ cpUrl('wink/experiments/new') }}" class="btn submit">{{ 'New Experiment'|t('wink') }}</a>
{% endblock %}
